{% extends 'base.html' %}
{% block content %}
<div class='flex-row'>
  <h4 class = "mt-3">Items</h4>
  <table class="table table-bordered">
    <thead >
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Item Id</th>
      </tr>
    </thead>
    <tbody>  
      {% for items in data %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{items.name}}</td>
        <td>{{items.item_id}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if data.has_other_pages %}
  <ul class="pagination justify-content-end align-items-center">
    {% if data.has_previous %}
      <li><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in data.paginator.page_range %}
      {% if data.number == i %}
        <li class="btn btn-dark m-2"><span>{{ i }} </span></li>
      {% else %}
        <li class="btn btn-light m-2"><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if data.has_next %}
      <li><a href="?page={{ data.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}
</div>

{%endblock%}