{% extends 'base.html' %}

{% block content %}
<h4 class='pt-3 container'>Employee's List</h4>
 <div class = 'container'>
    <table class="table table-bordered">
        <thead >
            <tr>
                <th>#</th>
                <th>Given Name</th>
                <th>Family Name</th>
                <th>Employee ID</th>
                <th>City</th>
                <th>Postal code</th>
            </tr>
        </thead>
    <tbody>
                    
                        {% for emps in data %}
                        <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{emps.given_Name}}</td>
                        <td>{{emps.family_Name}}</td>
                        <td>{{emps.qb_EmpId}}</td>
                        {% if emps.primaryAddr %}
                        <td>{{emps.primaryAddr.city}}</td>
                        <td>{{emps.primaryAddr.postal_Code}}</td>
                        {% else %}
                        <td>N.A</td>
                        <td>N.A</td>
                        {% endif %}
                        
                        </tr>
                        {% endfor %}
                    
    <tbody>
    </table>
    {% if data.has_other_pages %}
  <ul class="pagination justify-content-end align-items-center">
    {% if data.has_previous %}
      <li><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in data.paginator.page_range %}
      {% if data.number == i %}
        <li class="btn btn-dark m-2"><span>{{ i }} </span></li>
      {% else %}
        <li class="btn btn-light m-2"><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if data.has_next %}
      <li><a href="?page={{ data.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
{%endblock%}