{% extends 'base.html' %}

{% block content %}
<div class="container pt-4" >
    <div class=" col-lg-5 shadow mx-auto p-0">
<div class="alert alert-success">{{form_title}}</div>
            <div class="p-4">
            <div class='form-group'>
                <form method="POST" action={{action}}>
                    {% csrf_token %}
                    {{empForm.as_p}}
                    {{addrForm.as_p}}
                    {{form.as_p}}
            <hr>
            <input type="submit" value="Add" class="btn btn-info">
        </form>
        </div>
    </div>
</div>
</div>
</div>
{%endblock%}

